$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

@include keyframes(loading) {
  0% {
    opacity: 1;
    transform:  rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform:  rotate(1658deg);
  }
}

@include keyframes(traceTop) {
  0% {
    width: 0px;
  }
  100% {
    width: 40px;
  }
}

@include keyframes(traceY) {
  0% {
    height: 0px;
  }
  100% {
    height: 40px;
  }
}

.container {

  width: 960px;

  .intro {
    @include transition(all 1.0s linear);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 200px;

    h1 {
      @include transition(all 1.0s linear);
      font-size: 4.5em;
      font-weight: 800;
      position: relative;

      &.done {
        width: 300px;
        font-size: 2em;
        padding-bottom: 5px;
        border-bottom: 4px solid black;
      }
    }

    &.done {
      height: 50px;
      display: block;
      text-align: left;

    }
  }


  .content {
    font-weight: 400;
    display: none;
  }

}